.div {
  background-color: #fffacd;
  width: 100%;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  padding: 67px 16px;
}
.div-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
  border-radius: 50%;
}

.img {
  object-fit: auto;
  object-position: center;
  width: 81px;
  margin: auto 0;
}
.div-3 {
  font-family: Lemon, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  text-align: center;
}

.img-2 {
  object-fit: auto;
  object-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.img-3 {
  aspect-ratio: 1.64;
  object-fit: auto;
  object-position: center;
  width: 36px;
  stroke-width: 3px;
  stroke: #000;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  margin: 42px 0 0 12px;
}
.div-4 {
  margin: 53px 0 0 13px;
  font: 24px Roboto, sans-serif;
  margin-left: 40px;
  font-weight: 700;
}
.div-5 {
  border-radius: 9px;
  border-color: rgba(198, 198, 198, 1);
  border-style: solid;
  border-width: 2px;
  align-self: center;
  margin-top: 42px;
  margin-left: 70px;
  width: 308px;
  max-width: 100%;
  align-items: center;
  color: #929292;
  white-space: nowrap;
  justify-content: center;
  padding: 9px 22px;
  font: 400 12px Roboto, sans-serif;
}
.div-6 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 45px 0 0 30px;
}
.img-4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-7 {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-8 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 33px 0 0 30px;
}
.img-5 {
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-9 {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-10 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 33px 0 0 30px;
}
.img-6 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-11 {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-12 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 33px 0 0 30px;
}
.img-7 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-13 {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-14 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 33px 0 0 30px;
}
.img-8 {
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-15 {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.div-16 {
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin: 33px 0 0 30px;
}
.img-9 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 49px;
  border-radius: 50%;
}
.div-17 {
  font-family: Roboto, sans-serif;
  margin: auto 0;
}

/* CAMERA AREA */
#loginbanner {
  background: #03070d;
  height: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  cursor: default;
  text-align: center;
  padding-bottom: 35px;
  font-family: "Cinzel";
  -webkit-text-stroke-width: 0.01px;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
