body {
  background-color: #fffacd;
  display: flex; /* Flexbox to center children */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Minimum height to take full viewport height */
  margin: 0; /* Remove default margin */
  font-family: Arial, Helvetica, sans-serif;
}

/* YUMMERS LOGO */

h1.a {
  font-size: 50px;
  font-family: "Lemon", sans-serif;
  position: absolute;
  text-align: center;
  margin-bottom: 150px; /* Position it at the top with some space */
  width: 100%; /* Ensure it spans the width of the viewport */
}

/*.boxoutline {
  margin: 0;
  width: 200px;
  height: 500px;
  background-color: #fffdef;
  border: solid 50px black;
  justify-content: center;
} */

.uploadimage {
  width: 300px;
  height: 400px;
  background-color: #fff4c4;
}

.uploadimage img {
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

/* CAPTIONS */

.uploadcaption {
  font-family: "Verdana";
  font-size: 20px;
}

main {
  margin-bottom: 50px;
  width: 100%; /* Take full width to center form */
  max-width: 250px; /* Good width for a form */
  padding: 20px; /* Padding around the form */
  box-sizing: border-box; /* Include padding in width */
}

form#login {
  margin-top: 250px;
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Center the items horizontally */
}

.username {
  width: 100%; /* Full width of the form */
  margin-bottom: 20px; /* Space below each input */
  font-family: "Arial";
}

input {
  padding: 10px; /* Padding inside the input */
  margin-top: 8px; /* Space above the input field */
  border: 1px solid #ccc; /* Border for the input */
  border-radius: 4px; /* Rounded corners for the input */
  width: 100%; /* Full width to match the parent */
  box-sizing: border-box; /* Include padding and border in the width */
}

.password input {
  margin-bottom: 50px;
}

.password {
  font-family: "Arial";
}
button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  padding: 6px 20px; /*button padding, need further adjustments*/
  border-radius: 14px; /*login button radius, to be adjusted*/
  border-style: none; /*no border*/
}

button:hover {
  background-color: rgb(255, 204, 0);
  color: white;
}
