body {
  background-color: #fffacd;
  display: flex; /* Flexbox to center children */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Minimum height to take full viewport height */
  margin: 0; /* Remove default margin */
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  color: white;
  cursor: default;
  text-align: center;
  padding-bottom: 45px;
  font-family: "Cinzel";
  -webkit-text-stroke-width: 0.01px;

  .div-3 {
    font-size: 20px;
    font-family: "Lemon", sans-serif;
    color: black;
    margin-bottom: 50px;
    cursor: pointer;
  }
}

/* IMAGE & CAPTIONS */

.uploadimage {
  border-radius: 16px;
  background-color: #fffdee;
  display: flex;
  margin-top: 51px;
  flex-direction: column;
  padding: 17px 24px;
  width: 90%;
  margin-bottom: 90px;

  img {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    align-items: center;
    margin-left: 10px;
  }

  .this-is-yummers {
    font-family: "Arial";
    text-align: center;
    margin-top: 30px;
  }
}

.add-location {
  color: gray;
  margin-top: -3px;
  text-align: center;
}

/* BUTTON */
.uploadbtn {
  align-items: center;
  margin: 0 auto;
  background-color: #fffacd;
  border: none;
  color: black;
  width: 90px;
  height: 35px;
  border-radius: 16px;
}

/* ICONS */

.gear-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 58px;
  height: 40px;
}

.user-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

/* CAPTIONS */

.uploadcaption {
  font-family: "Verdana";
  font-size: 20px;
}
