body {
  background-color: #fff6a3;
  display: flex; /* Flexbox to center children */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Minimum height to take full viewport height */
  margin: 0; /* Remove default margin */
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  color: white;
  cursor: default;
  text-align: center;
  padding-bottom: 45px;
  font-family: "Cinzel";
  -webkit-text-stroke-width: 0.01px;

  .smallogo {
    font-size: 20px;
    font-family: "Lemon", sans-serif;
    color: black;
  }
}

/* IMAGE */

.gear-icon {
  display: inline-block;
  position: fixed;
  padding-bottom: 75px;
  width: 50px;
  height: 50px;
  margin-left: 40%;
}

.two-users {
  display: inline-block;
  position: fixed;
  padding-bottom: 75px;
  width: 50px;
  height: 50px;
  margin-right: 90%;
}

/* CAPTIONS */

.uploadcaption {
  font-family: "Verdana";
  font-size: 20px;
}
